media.dinandserver.duckdns.org {

    # Radarr
    handle /radarr* {
        reverse_proxy 192.168.178.100:7878
    }

    # Sonarr
    handle /sonarr* {
        reverse_proxy 192.168.178.100:8989
    }

    # Prowlarr
    handle /prowlarr* {
        reverse_proxy 192.168.178.100:9696
    }

    # Bazarr
    handle /bazarr* {
        reverse_proxy 192.168.178.100:6767
    }

    handle / {
        reverse_proxy 192.168.178.100:8096
    }
}

# Redirect HTTP to HTTPS
http://media.dinandserver.duckdns.org {
    redir https://media.dinandserver.duckdns.org{uri}
}