services:
    caddy:
        image: caddy:latest
        container_name: caddy
        restart: unless-stopped
        ports:
        - "80:80"
        - "443:443"
        - "8080:2019"
        volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile
        - /root/caddy/:/data
        - /root/caddy/config:/config
        - /var/run/docker.sock:/var/run/docker.sock:ro