{
    # Layer 4: Minecraft & VoiceChat
    layer4 {
        :25565 {
            route {
                matcher { sni mc.dinandos.duckdns.org }
                proxy { upstream 192.168.178.100:25565 }
            }
        }
        :24454 {
            route { proxy { upstream 192.168.178.100:24454 } }
        }
        :19132 {
            route { proxy { upstream 192.168.178.100:19132 } }
        }
    }

    log default {
        output file /var/log/caddy/access.log
        format console
        level INFO
    }
}

# HET WILDCARD BLOK
*.dinandserver.duckdns.org {
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }

    # MATCHERS voor de subdomeinen
    @media host media.dinandserver.duckdns.org
    @codeserver host codeserver.dinandos.duckdns.org

    # HANDLERS voor de subdomeinen
    handle @media {
        # Radarr
        handle /radarr* {
            reverse_proxy 192.168.178.100:7878
        }
        # Sonarr
        handle /sonarr* {
            reverse_proxy 192.168.178.100:8989
        }
        # Prowlarr
        handle /prowlarr* {
            reverse_proxy 192.168.178.100:9696
        }
        # Bazarr
        handle /bazarr* {
            reverse_proxy 192.168.178.100:6767
        }
        handle {
            reverse_proxy 192.168.178.100:8096
        }
    }

    handle @codeserver {
        reverse_proxy 192.168.178.100:8680
    }

    handle {
        abort
    }
}