services:

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    hostname: gitea
    environment:
      - GITEA_SSH_PORT=2221
    env_file:
      - ./.env
    ports:
      - 3001:3000 
      - 2221:22 
    expose:
      - 3000
      - 22
    volumes:
      - ./gitea:/data
    networks:
      - proxy

  runner:
    image: docker.io/gitea/act_runner:latest
    container_name: gitea-runner
    restart: unless-stopped
    environment:
      - GITEA_INSTANCE_URL=${INSTANCE_URL}
      - GITEA_RUNNER_NAME=${RUNNER_NAME}
      - GITEA_RUNNER_REGISTRATION_TOKEN=${REGISTRATION_TOKEN}
    volumes:
      - ./runner:/data
      - /homelab:/homelab
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - gitea
    networks:
      - gitea-internal

networks:
  proxy:
    external: true
  gitea-internal:
    internal: true