{
    layer4 {

        # --- Minecraft server --- #
        :25565 {
            route {
                matcher { sni java.dinandos.duckdns.org }
                proxy { upstream smp-s2:25565 }
            }
        }
        :19132 {
            route {
                matcher { sni bedrock.dinandos.duckdns.org}
                proxy { upstream smp-s2:19132 }
            }
        }
        :24454 {
            route { proxy { upstream smp-s2:24454 } }
        }

        # --- SSH --- #
        :2222 {
            route { proxy { upstream 127.0.0.1:22 } }
        }
    }

    log default {
        output file /opt/caddy-system/logs/access.log
        format console
        level INFO
    }
}

*.dinandserver.duckdns.org {
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }

    @is_intern remote_ip 192.168.178.0/24 127.0.0.1 ::1
    
    route {
        @is_extern not remote_ip 192.168.178.0/24
        basic_auth @is_extern {
            dinandos JOUW_GEHASHDE_WACHTWOORD_HIER
        }
    }

    # --- MATCHERS --- #
    @media host media.dinandserver.duckdns.org
    @codeserver host codeserver.dinandos.duckdns.org
    @seafile host cloud.dinandos.duckdns.org
    @authentik host authentik.dinandos.duckdns.org
    @docmost host docs.dinandos.duckdns.org
    @gitea host gitea.dinandos.duckdns.org
    @ntfy host ntfy.dinandos.duckdns.org

    # --- PLAK HIER WELKE OPTIE JE WILT GEBRUIKEN (zie HELP.md) --- #
    
    
    # --- Bij een fout subdomein --- # 
    handle {
        abort
    }
}