services:
  caddy:
    build: .
    container_name: caddy-full
    restart: unless-stopped
    env_file: "./.env"
    environment:
      - DUCKDNS_TOKEN=${DUCKDNS_TOKEN}
    ports:
      - "80:80"           # HTTP
      - "443:443"         # HTTPS
      - "443:443/udp"     # HTTPS 3
      - "25565:25565"     # Java MC Server
      - "19132:19132/udp" # Bedrock MC Server
      - "24454:24454/udp" # Voice chat MC Server
    volumes:
      - /opt/caddy-full/Caddyfile:/etc/caddy/Caddyfile
      - /opt/caddy-full/data:/data
      - /opt/caddy-full/config:/config
      - /opt/caddy-full/logs:/var/log/caddy
    networks:
      - proxy
networks:
  proxy:
    external: true