services:

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    hostname: gitea
    ports:
      - 3001:3000 #webgui
      - 2221:22 #ssh
    expose:
      - 3000
      - 22
    volumes:
      - /opt/gitea:/data
    networks:
      - proxy
networks:
  proxy:
    external: true